PUID=1000
PGID=1000
TZ=Europe/London
APP_KEY=
APP_URL=http://example.com
DB_CONNECTION=sqlite
SPEEDTEST_SCHEDULE="0 */1 * * *"
DISPLAY_TIMEZONE=Europe/London
ADMIN_EMAIL="example@example.com"
ADMIN_PASSWORD=""
